#products-index {
  width: 300px;
}

#products-index img {
  width: 280px;
  height: 300px;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: greenyellow;
}

footer {
  background-color: greenyellow;
}

.cardProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

#BRB {
  color: white;
  background-color: red;
}

/* Show Product Modal */
.showProductCardImage {
  position: right;
  float: right;
  border: 5px solid coral;
  width: 225px;
  height: 225px;
  margin-right: 100px;
  margin-top: -50px;


}

.updateProductCard {
  padding: 0%;
}

.updateProductCard {
  margin-bottom: 0%;
}

#updateForm1 {
  margin-top: -2%;
  line-height: 0%;
}

.showProductInfo p {
  margin-top: -1%;

}